.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--text-gray);
}
.media_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.listSong_container {
  display: flex;
  flex-direction: column;
}
h5 {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 5px;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

//add class
.font {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-color);
}
.mb {
  margin-bottom: 10px;
}
