.container {
  height: 100%;
  background: #c0d8d8;
  display: flex;
  padding: 0px 20px;
}
.details_song {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.main {
  width: 40%;
  display: flex;
  padding-top: 10px;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__icons {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }

  .play_song {
    display: flex;
    padding: 4px;
    border: 1px solid #403b3b;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      border-color: var(--green-color);
      color: var(--green-color);
    }
  }
}
.volume_song {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.volume_control {
  display: flex;
  gap: 5px;
  align-items: center;

  span {
    cursor: pointer;
  }

  input[type="range"] {
    cursor: pointer;
    width: 130px;
  }
  /***** Track Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: var(--green-color);
    height: 5px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: var(--green-color);
    height: 1rem;
    width: 1rem;
  }
  .duration_bar {
    width: 130px;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;

    .slider {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: var(--green-color);
    }
  }
  .volume {
    width: 130px;
  }
}
.note_list {
  color: #32323d;
  border-radius: 4px;
  padding: 5px 7px;
  cursor: pointer;
}
.bg_black {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.bg_green {
  background-color: rgb(18, 182, 130);
  color: var(--white-color);
}
.thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}
.artistsNames_details {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  height: 100%;
  justify-content: center;

  .title {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #32323d;
  }
  .artistsNames {
    font-size: 12px;
    color: var(--text-gray);
  }
}
.icons {
  margin-left: 10px;
  color: #32323d;
  display: flex;
  gap: 13px;
}
.progress_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;

  &__container {
    width: 75%;
    height: 3px;
    border-radius: 999px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);

    &:hover {
      height: 8px;
    }
  }
  &__children {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--green-color);
  }
}
.color {
  color: var(--text-gray);
}
.cur {
  cursor: pointer;
}
.purple {
  color: purple;
}
.black {
  color: black;
}
.dbn {
  display: none;
}
.prt {
  position: relative;
}
.inline {
  display: inline;
}

//resposive
@media (max-width: 640px) {
  .volume_song {
    display: none;
  }
}
