.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 44px;
}

.list_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
