.wrapper {
  display: flex;
  flex-direction: column;
  background: #ced9d9;
}
.container {
  position: relative;
}
.bg_chart {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: grayscale(100%);
}
.wrapper_chart {
  position: relative;
}
.alpha {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(206, 217, 217, 0.8);
}
.alpha1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 0;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 37%,
    var(--layout-bg)
  );
}
.chart_title {
  position: absolute;
  padding: 0 60px;
  display: flex;
  align-items: center;
  top: 90px;
  right: 0;
  left: 0;

  h2 {
    color: var(--green-color);
    font-size: 40px;
  }
  span {
    color: var(--white-color);
    background-color: var(--green-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
.chart {
  padding: 0px 60px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}
.chart_songs {
  padding: 0px 60px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.chart_title_week {
  position: absolute;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  top: 38px;
  right: 0;
  left: 0;

  h2 {
    color: var(--green-color);
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.week_chart_box {
  display: flex;
  gap: 25px;
  height: fit-content;
}
.bg_chart_week {
  width: 100%;
  min-height: 650px;
  object-fit: cover;
  filter: grayscale(100%);
}
.week_chart_item {
  flex: 1;
  background: #e0e5e5;
  border-radius: 15px;
  padding: 20px 10px;

  .box_header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--green-color);

    span {
      color: var(--white-color);
      background-color: var(--green-color);
      width: 29px;
      height: 29px;
      border-radius: 100%;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
    a {
      padding-left: 40px;
      font-size: 24px;
      font-weight: 700;
      color: var(--green-color);
    }
  }
  .items {
    margin-top: 12px;
    height: fit-content;
  }
}
.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #dde4e4;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1220px) {
  .week_chart_box {
    flex-direction: column;
  }
}
