.container {
  width: 100%;
}
.search_title {
  display: flex;
  height: 50px;
  margin-bottom: 28px;
  align-items: center;
  padding-left: 60px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search_result {
  font-size: 24px;
  font-weight: 800;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.search_list {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-gray);

  a {
    padding: 0px 16px;
    color: var(--black-color);
  }
  span {
    margin-left: 30px;
    cursor: pointer;

    &:hover {
      color: #0f7070;
      border-bottom: 1px solid #0f7070;
    }
  }
}
.under {
  text-decoration: underline;
  color: #0f7070;
}
