.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.thumb_nail {
  width: 100%;
  border-radius: 100%;
  object-fit: contain;
}
.img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
}
.s {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  background: var(--bg-overlay);
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  a:nth-child(1) {
    font-size: 14px;
    color: var(--black-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: var(--green-color);
    }
  }
  span:nth-child(2) {
    font-size: 12px;
    color: var(--text-gray);
  }

  button {
    border: none;
    border-radius: 15px;
    background-color: var(--green-color);
    padding: 6px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
    }

    span:nth-child(1) {
      color: var(--white-color);
    }
    span:nth-child(2) {
      color: var(--white-color);
    }
  }
}
