.wrapper_chart {
  position: relative;
}
.bg_chart {
  width: 100%;
  height: 260px;
  object-fit: cover;
  filter: grayscale(100%);
}
.alpha {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(206, 217, 217, 0.8);
}
.alpha1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.88;
  z-index: 0;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 37%,
    var(--layout-bg)
  );
}
.chart_title {
  position: absolute;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 20px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  }

  h2 {
    color: var(--green-color);
    font-size: 40px;
  }
  .play {
    color: var(--white-color);
    background-color: var(--green-color);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .navbar_menu {
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;

    a {
      color: var(--black-color);
    }
  }
}
.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #dde4e4;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
