.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper {
  position: relative;
}
.artists_bgr {
  height: 400px;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(0deg, #0e131a, rgba(14, 19, 26, 0));
}
.info_singer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--white-color);
}
.info_singer_wrapper {
  position: absolute;
  bottom: 0;
  padding: 0px 60px;
  padding-bottom: 30px;
}

.name_singer {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;

  span:nth-child(1) {
    font-size: 60px;
    font-weight: 700;
  }
}
.play_song_icon {
  padding: 8px;
  border-radius: 100%;
  background-color: var(--white-color);
  color: var(--green-color);
  display: flex;
  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--white-color);
  }
}
.animate_hover {
  width: 35px;
  height: 35px;
}
.isHover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--green-color);
  border-radius: 100%;
}
.icon {
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.follow {
  display: flex;
  align-items: center;
  gap: 30px;

  span {
    color: rgba(254, 255, 255, 0.8);
  }

  button {
    background: rgba(254, 255, 255, 0.1);
    border: 1px solid rgba(254, 255, 255, 0.2);
    color: var(--white-color);
  }
  button {
    border: none;
    border-radius: 15px;
    background-color: var(--green-color);
    padding: 6px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
    }

    span:nth-child(1) {
      color: var(--white-color);
    }
    span:nth-child(2) {
      color: var(--white-color);
    }
  }
}
// singer_home_content

.singer_home_content {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 60px;
}
.newTitle {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.newRelease {
  width: 35%;
  flex: auto;
  margin-right: 28px;

  .card_info {
    display: flex;
    padding: 16px;
    padding-right: 15px;
    background: #bcc5c5;
    border-radius: 10px;
    cursor: pointer;
  }
  .card_images {
    height: 151px;
    width: 151px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card_content {
    display: flex;
    flex-direction: column;
    margin: 6px 0 6px 16px;

    .ep {
      font-size: 12px;
      opacity: 0.5;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      margin-top: 12px;
      margin-bottom: 2px;
      color: var(--black-color);
    }
    .atists_name {
      opacity: 0.7;
      font-size: 12px;
      margin-bottom: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
    .date {
      font-size: 12px;
      opacity: 0.5;
    }
  }
}
.list_songs {
  width: 65%;
}

.box_items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.song_item {
  width: 90%;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.artists_favourite {
  display: flex;
  padding: 0 60px;
  gap: 28px;
}
.artists_biography {
  padding: 0 60px;
  margin-top: 20px;

  .biography {
    display: flex;

    img {
      width: 456.356px;
      height: 304.238px;
      object-fit: cover;
      object-position: 50% 20%;
      border-radius: 8px;
      margin-right: 30px;
    }

    .desc {
      color: var(--text-gray);
      font-size: 14px;

      p {
        line-height: 23px;
        margin-bottom: 48px;

        a {
          color: var(--green-color);
          font-weight: bold;
        }
      }
    }
  }
}
.num_follow {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 20px;
    color: var(--black-color);
  }
}
@media (min-width: 1024px) {
  .song_item {
    width: 45%;
    margin-right: 25px;
  }
}
