.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.images {
  padding: 15px 25px;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.logo {
  width: 120px;
  height: 40px;
  object-fit: contain;
  display: inline-block;
}
.wrapper_nav_item {
  display: flex;
  flex-direction: column;

  .sidebar_top {
    margin-bottom: 10px;
  }
  .sidebar_bottom {
    margin-top: 10px;

    .vip_banner_sidebar {
      padding: 15px 8px;
      border-radius: 8px;
      margin: 10px 20px;
      text-align: center;
      background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);

      .text {
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 600;
        border-color: #ffdb00;
        line-height: 1.67;
        color: var(--white-color);
      }
      .upgrade_VIP {
        background-color: #ffdb00;
        border-color: #ffdb00;
        color: var(--black-color);
        display: inline-block;
        padding: 6px 35px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 9999px;
      }
    }
  }
}
.nav_item {
  display: flex;
  color: #438f8f;
  font-weight: 800;
  font-size: 13px;
  gap: 12px;
  padding: 15px 25px;
  align-items: center;
  outline: none;
}
.sidebar_divide {
  position: relative;
  height: 1px;

  &:after {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
  }
}
.logo_responsive {
  display: none;
}

@media (max-width: 1140px) {
  .title {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo_responsive {
    display: block;
  }
  .images {
    padding: 0;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .vip_banner_sidebar {
    display: none;
  }
}
