.container {
  width: 100%;
}
.header {
  height: 70px;
  padding: 0 59px;
  display: flex;
  align-items: center;
}
.weeChart {
  width: 100%;
  margin-top: 36px;
  display: flex;
  align-items: center;
  padding: 0px 43px;
}
.link {
  flex: 1;
  padding: 0 16px;
  overflow: hidden;
}

.images_rank {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.artistSpotlight {
  padding: 0 43px;
  width: 100%;
  margin-top: 48px;
}
.artist_item {
  padding: 0px 16px;
}
.s {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // background: var(--bg-overlay);
  background: red;
}
