.container {
  padding: 0 59px;
  gap: 15px;
  position: relative;
  margin-top: 20px;
  max-height: 450px;
}
.box_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 28px;
  font-weight: 800;
  color: var(--white-color);

  &:hover {
    color: var(--purple-color);
  }
}
.play {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--white-color);
}
.wrapper_chart {
  width: 100%;
  display: flex;
  gap: 15px;
  height: 100%;

  .rank {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .see_more {
    margin-top: 5px;
    border-radius: 999px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 5px 25px;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  .chart {
    width: 65%;
    height: 90%;
    position: relative;
  }
}

.bg_chart {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  max-height: 450px;
}
.bg_alpha {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 59px;
  right: 59px;
  bottom: 0;
  background-image: linear-gradient(180deg, #740091, #2d1a4c);
  opacity: 0.95;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 20;
  left: 59px;
  right: 59px;
  bottom: 0;
  padding: 20px;
  gap: 12px;
}

@media (max-width: 1140px) {
  .container {
    height: 760px;
    max-height: 760px;
  }
  // .bg_chart {
  //   height: 760px;
  // }
  .wrapper_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rank {
    width: 100% !important;
  }
  .chart {
    order: -100;
    width: 100% !important;
  }
}
