.container {
  width: 100%;
  padding: 0 59px 0 59px;
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.wrapper_card {
  display: flex;
  gap: 30px;
}
.search_info {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
.card {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex: 1 1 0%;
  align-items: center;
  background: rgba(254, 255, 255, 0.2);
  border-radius: 5px;
}
.thumb_artists {
  width: 84px;
  height: 84px;
}
.card_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;

  .artist {
    font-size: 12px;
    color: var(--text-gray);
  }
  .name {
    font-size: 14px;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      color: #0f7070;
    }
  }
}
.wrapper_song {
  display: flex;
  flex-direction: column;
  width: 100%;

  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item {
    width: 45%;
    flex: auto;
  }

  .list_item {
    display: flex;
    gap: 28px;
  }
}

//add class active
.border-full {
  border-radius: 100%;
}
.pl-14 {
  padding-left: 14px;
}
.pr-14 {
  padding-right: 14px;
}
