.container {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;

  &:hover {
    background: var(--sidebar-bg);
    cursor: pointer;
    border-radius: 4px;
  }
}
.num_order {
  font-size: 32px;
  color: rgba(74, 144, 226, 0);
  opacity: 1;
  font-weight: 900;
  width: 18px;
}
.blue_number {
  -webkit-text-stroke: 2px #4a90e2;
}
.green_number {
  -webkit-text-stroke: 2px #50e3c2;
}
.orange_number {
  -webkit-text-stroke: 2px #e35050;
}
.default_color_number {
  -webkit-text-stroke: 1.5px #32323d;
}
//add active
.bg_green {
  background: #0e8080;
  border-radius: 5px;
  color: var(--white-color);

  &:hover {
    color: var(--black-color);
  }
}
.bgr_artists {
  background: rgba(254, 255, 255, 0.2);
}

.thumbnail {
  display: block;
  object-fit: cover;
  border-radius: 4px;
}
.img_medium {
  width: 60px;
  height: 60px;
}
.img_small {
  width: 40px;
  height: 40px;
}
.description {
  display: flex;
  flex-direction: column;
}
.artists {
  font-size: 12px;
  opacity: 0.7;

  &:hover {
    text-decoration: underline;
  }
}
//add class active
.white_color {
  color: var(--white-color);
  background-color: hsla(0, 0%, 100%, 0.07);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.black_color {
  color: var(--black-color);
}
.bg-white {
  background-color: var(--white-color);
}

.img_small {
  width: 40px;
  height: 40px;
}
.img_artists {
  width: 84px;
  height: 84px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}
