.container {
  width: 100%;
}
.top100 {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border-radius: 999px;
    border: 1px solid var(--green-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: var(--green-color);
    background-color: transparent;
    padding: 8px 25px;
    cursor: pointer;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
    }
  }
}
