body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-next:before,
.slick-prev:before {
  font-size: 38px !important;
}
.slick-prev {
  top: 33% !important;
}
.slick-next {
  right: -10px !important;
  top: 34% !important;
}
.db {
  display: block;
}
.scale_up_images {
  -webkit-animation: scale_up_images 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale_up_images 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.scale_up_center {
  -webkit-animation: scale_up_center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale_up_center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.scale_down_images {
  -webkit-animation: scale_down_images 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale_down_images 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-left2 {
  -webkit-animation: slide-left2 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left2 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-bottom {
  background: rgba(206, 217, 217, 0.8);
  box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
  backdrop-filter: blur(50px);
  -webkit-animation: slide-bottom 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left2 {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes scale_up_images {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale_down_images {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale_up_center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
